.navbar-default .navbar-nav>li>a {
color: #ff6f3d;
}
.navbar-default .navbar-nav>li>a:hover{color:#ff7e51}
.item {
float: left;
width: 180px;
margin: 8px;
padding: 10px;
background: #f6f6f6;
color: #444;
cursor:pointer;
border: 1px solid #B9B9B9;
text-shadow: 0px 1px 0px #fff;
-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
-moz-box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
overflow:hidden;
text-overflow:ellipsis;
}
.item:hover {
	color: #777
}
.index-name {
	border-bottom: 1px solid #ccc;
margin: 10px 0;
display: board;
padding: 0 0 5px;
font-size: 17px;
}
@media (max-width: 767px) {
.nav-head-span{
display: inline !important;
 }
 .item {
 width: 100%;
 height: 120px;
 margin: 0
 }
}
.description {
white-space: normal;
word-wrap: break-word;
}
.item .picture img {
	width: 120px;
	height: 120px;
}


#page { margin-top: 70px; }
#sidebar { padding: 20px 20px 20px 0; }
.view { padding: 10px; }

.cell{padding: 10px;border-bottom: 1px solid #D3D3D3;display:board;}
.board {cursor: pointer;}
.add-board span {font-size: 50px}
.add-board {float:none}
.gtitle .title_edit {
	height: 49px;
	font-size: 49px; 
	width: 250px;
	font-weight: bold;
	color: #08c;
}

.my_forum {
	font-size: 14px;
	color: #646464
}

.add-on {
	display: inline-board;
	width: auto;
	height: 16px;
	min-width: 16px;
	padding: 4px 0 5px 5px;
	margin-right: -4px;
	font-size: 14px;
	font-weight: normal;
	line-height: 17px;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	background-color: #eee;
	border: 1px solid #ccc;
}
.thread-form { padding: 21px;box-shadow: 0 0px 2px rgba(0,0,0,0.46);margin-bottom: 20px;}
.thread-content { 
	margin: 0px;
	width: 503px;
	height: 66px;
	float: left;
}
.thread-list{padding: 0;}
.thread-item { 
	position: relative;
	padding: 15px 15px 15px 20px;
	border-bottom: #d1d1d1 1px dotted;
}
.hg-bg {display: board;height: 20px;position: relative;}
.thread-item:hover {
background-color: #f3f8f9;
}
.thread-item {
-moz-transition: background-color .2s;
-webkit-transition: background-color .2s;
transition: background-color .2s;
}
.thread-time {color: #aaa;font-size: 13px;}
.about-view {padding: 6px;white-space: normal;word-wrap: break-word;}
.thread-right a {font-size: 15px}
.thread-right a:hover {
    color: #ff7e51;
}
.thread_container {
padding: 20px 20px 5px 20px;
background-color: #fff;
border-top: 1px dashed #d7d7d7;
}
.u_image {width: 64px !important;height: 64px !important;}
.content {
	line-height: 24px;
	white-space:normal;
	 word-break:break-all;
	 overflow:hidden;
}
.thread_id {float: right;position: relative;top: 15px;color: #727272;}
.create-thread {color: #868686;margin: 0;font-weight: bold;}
.avatar{width:62px; height:62px}
.topic:hover {background: #f6f6f6;}
.thread-wrap {border-top: 1px solid #D9E0E6;padding-top:20px}
#threads {clear: both;}
#threads h3 {
font-size: 22px;
line-height: 1.3;
margin: 0 0 20px;
padding: 0 20px;
color: #919191;
font-weight: normal;
}
.thread_container {
padding: 20px;
border-top: 1px solid rgb(206, 206, 206);
}
.threads{
list-style: none;
padding: 0;
margin: 0;
}
.leave-thread {
padding:0 20px 20px 20px;
background: #f7f8f9;
border-top: 1px solid #D9E0E6;
border-bottom: 1px solid #D9E0E6;
color: #646668;
}
.thread-wrap{padding: 20px;}
.thread-meta {
color: #656B6E;
border-bottom: 1px solid #D9E0E6;
margin: 0;
padding: 13px;
}
.thread-end{
	border-top: 1px solid #D9E0E6;
	padding: 9px 20px;
	color: #aaa;
}
.thread-end .ii-btn {
margin-top: -4px;
}
.floor-number {
	float: right;
	font-size: 22px;
	color: #999;
}
.thread-time {color: #bebdbd;font-size: 12px;}
.media-title {margin:0;font-size: 20px;color:#434a54;padding:0}
.media-title:hover, .media-title:focus {color: #ff6f3d}
.thread-nickname {color: #a7a7a7;word-wrap: normal;font-weight: bold;font-size: 14px;}
.no-threads-found {
color: #829bb3;
text-align: center;
padding: 61px 20px;
background: #fff;
font-size: 34px;
font-weight: bold;
box-shadow: 0 2px 5px rgba(0,0,0,0.46);
word-wrap: break-word;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.landlord-name {
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}

/*----------------------------------------------------------------------------------- */
/*  Widget-Container */
/*----------------------------------------------------------------------------------- */
.widget-container {
	min-height: 320px;
	background: white;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
.widget-container.fluid-height {
	height: auto;
	min-height: 0; }
.widget-container.small {
	min-height: 120px;
	height: 200px; }
.widget-container.gallery {
	min-height: 400px; }
.widget-container .heading {
	background: rgba(255, 255, 255, 0.94);
	height: 50px;
	padding: 15px 15px;
	color: #007aff;
	font-size: 15px;
	width: 100%;
	font-weight: 400;
	margin: 0; }
.widget-container .heading [class^="icon-"], .widget-container .heading [class*="icon-"] {
	margin-right: 10px;
	font-size: 14px; }
.widget-container .heading [class^="icon-"].pull-right, .widget-container .heading [class*="icon-"].pull-right {
	margin-right: 0px;
	margin-left: 15px;
	opacity: 0.35;
	font-size: 1.1em; }
.widget-container .heading [class^="icon-"]:hover, .widget-container .heading [class*="icon-"]:hover {
	cursor: pointer;
	opacity: 1; }
.widget-container .tabs {
	background: whitesmoke;
	border-bottom: 1px solid #dddddd; }
.widget-container .widget-content {
	width: 100%; }
.widget-container.scrollable {
	position: relative;
	height: 400px;
	padding-top: 50px; }
.widget-container.scrollable.chat-home {
	height: 427px; }
.widget-container.scrollable .heading {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10; }
.widget-container.scrollable .shadow {
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1); }
.widget-container.scrollable .widget-content {
	height: 100%;
	position: relative;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch; }

.padded {
	padding: 15px; }

/*----------------------------------------------------------------------------------- */
/*  Statistics Figures */
/*----------------------------------------------------------------------------------- */
.stats-container {
	min-height: 120px;
	height: 120px;
	text-align: center; }
.stats-container [class^="col-"], .stats-container [class*="col-"] {
	border-right: 1px solid #e6e6e6;
	height: 100%;
	margin-bottom: 0; }
.stats-container [class^="col-"]:last-child, .stats-container [class*="col-"]:last-child {
	border: 0; }
.stats-container [class^="col-"] .number, .stats-container [class*="col-"] .number {
	font-size: 3.9em;
	font-weight: 100;
	color: #007aff;
	line-height: 1.3em;
	padding-top: 8px;
	letter-spacing: -0.06em; }
.stats-container [class^="col-"] .number .icon, .stats-container [class*="col-"] .number .icon {
	background: url("../images/info-data-sprite.png") no-repeat left top;
	width: 50px;
	height: 38px;
	display: inline-block;
	vertical-align: top;
	margin: 20px 12px 0 0; }
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
	.stats-container [class^="col-"] .number .icon, .stats-container [class*="col-"] .number .icon {
		background-image: url("../images/info-data-sprite%402x.png");
		background-size: 200px 190px; } }
.stats-container [class^="col-"] .number .icon.visitors, .stats-container [class*="col-"] .number .icon.visitors {
	background-position: -50px top; }
.stats-container [class^="col-"] .number .icon.money, .stats-container [class*="col-"] .number .icon.money {
	background-position: -100px top; }
.stats-container [class^="col-"] .number .icon.chat-bubbles, .stats-container [class*="col-"] .number .icon.chat-bubbles {
	background-position: -150px top; }
.stats-container [class^="col-"] .text, .stats-container [class*="col-"] .text {
	font-weight: 300;
	color: #999999; }