.header {
    position: fixed;
    background: #ececec;
    background-size: 100%;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fafafa),color-stop(100%,#ececec));
    background-image: -webkit-linear-gradient(top,#fafafa,#ececec);
    background-image: -moz-linear-gradient(top,#fafafa,#ececec);
    background-image: -o-linear-gradient(top,#fafafa,#ececec);
    background-image: linear-gradient(top,#fafafa,#ececec);
    -webkit-box-shadow: 0 2px 1px -1px rgba(0,0,0,0.07);
    -moz-box-shadow: 0 2px 1px -1px rgba(0,0,0,0.07);
    box-shadow: 0 2px 1px -1px rgba(0,0,0,0.07);
    border-bottom: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    z-index: 1000;
}
.navbar-default .navbar-nav>li>a {
color: #ff6f3d;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
color: #ED5F30;
}
#nav li {margin:10px 2px;}
#title, #logo, #isfollow {
    float: left !important;
}
#logo img{
    width: 50px;
    height: 50px
}
#isfollow {
width: 105px;
margin-top:24px
}
#logo {
    margin-top:12px
}
#profile_nav {float: right; margin-top: 15px;}
#header .pl { margin-top: 23px;float: left;}
#title a {
    font-size: 42px;
    text-decoration: none;
    margin-left: 10px;
    font-weight:bold;
}
.nav-font{font-size: 27px}
.edit-font{font-size: 30px}