.header {
	-webkit-box-shadow: 0 2px 1px -1px rgba(0,0,0,0.07);
	-moz-box-shadow: 0 2px 1px -1px rgba(0,0,0,0.07);
	box-shadow: 0 2px 1px -1px rgba(0,0,0,0.07);
	border-bottom: 1px solid #ccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	z-index: 1000;
}
.ii-nav {
width: 100%;
position: relative;
padding-left: 5px;
border-radius: 5px;
background: #ff6f3d;
}
.navbar-default .navbar-nav>li>a {
color: #fff;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    background: #ED5F30;
    color: #fff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background: #ED5F30;
    color: #fff;
}
#title, #logo, #isfollow {
	float: left !important;
}
.profile {
margin-top: 16px;
width: 208px;
height: 105px;
}
.profile .info {
	position: relative;
float: right;
height: 42px;
width: 264px;
}
.profile .info .user-avt {
float: left;
height:56px;
width:56px;
border: 1px solid #c4c4c4;
}
.profile .btn-group {
	width: 100%;
}
.profile .btn-group .btn {
	background-color: #fff;
	overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
#logo img{
	width: 110px;
	height: 110px;
	padding: 3px;
}
#isfollow {
width: 105px;
margin-top:46px
}
#logo {
	margin-top:12px
}
#profile_nav {float: right; margin-top: 15px;}
#header .pl { margin-top: 23px;float: left;}
#title a {
    font-size: 42px;
    text-decoration: none;
    margin-left: 10px;
	font-weight:bold;
}
.nav-font{font-size: 18px;color: #ff6f3d;}
.edit-font{font-size: 30px}