backend/runtime/*
!backend/runtime/.gitignore
frontend/runtime/*
!frontend/runtime/.gitignore

backend/web/uploads/*

frontend/web/uploads/blog/photo/*
frontend/web/uploads/blog/photo_tmp/*
frontend/web/uploads/forum/icon/*
frontend/web/uploads/user/*
frontend/web/uploads/umeditor/*
!frontend/runtime/.gitignore

.idea

common/config/db.php
