backend/runtime/*
!backend/runtime/.gitignore
frontend/runtime/*
!frontend/runtime/.gitignore

frontend/uploads/blog/photo/*
frontend/uploads/blog/photo_tmp/*
frontend/uploads/forum/icon/*
frontend/uploads/user/avatar/*
!frontend/uploads/user/avatar/.gitignore
frontend/uploads/user/avatar/*
!frontend/runtime/.gitignore
