backend/runtime/*
!backend/runtime/.gitignore
frontend/runtime/*
!frontend/runtime/.gitignore

frontend/uploads/blog/photo/*
frontend/uploads/blog/photo_tmp/*
frontend/uploads/forum/icon/*
frontend/uploads/user/avatar/*
!frontend/uploads/user/avatar/.gitignore
frontend/uploads/user/avatar/*
!frontend/runtime/.gitignore

backend/config/main-local.php
backend/web/index.php
common/config/db.php
common/config/main-local.php
frontend/config/main-local.php
frontend/web/index.php
init
yii

