.board:before, .board:after{
display: table;
content: " ";
}
.board:after {
  clear: both;
}
.board {
width: 48%;
background: white;
border-radius: 3px;
box-shadow: 0px 1px 5px rgba(0,0,0,0.15);
margin: 4px;
}
.board-avatar, .board-title, .board-last-post, .board {
	float: left;
	position: relative;
	min-height: 1px;
	padding-bottom: 7px
}
.board-avatar {
width: 20%;
}
.board-title {
width: 80%;
}
.board-last-post {
width: 80%;
padding: 0;
}
.board-last-post-name {
float: left;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
margin:0;
font-size:14px;
color: #aaa;
width: 50%;
}
.board-last-post-time {
	float: left;
	margin:0;
	font-size:14px;
	color: #aaa;
	width: 50%;
}
.board-name {
font-weight:bold; 
margin: 0;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
.board-span {font-size: 20px;
	color: #f60;}

@media (max-width: 767px) {
	.board {width: 100%}
	.board-title {
		width: 100%;
	}
	.board-span {position: relative; top: 0;font-size: 20px}
}

/* admin */
.board-name input {
height: 38px !important;
font-size: 24px !important;
}
.board-post {
	float: left;
	width: 88px
}
.board-post-count {
margin: 0;
color: #999;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
.board-edit-button .pull-left .edit-font{font-size: 14px}
.board-post .board-last-post-name {width: 37%}
.board-edit-button {float: right;}
.board-button{float: left;}
.admin-board {background: none;border-radius:none;box-shadow:none;}
@media (max-width: 767px) {
	.admin-board .cell .board-title {
		width: 65%;
	}
}