.item {
	float: left;
	width: 180px;
	margin: 8px;
	padding: 10px;
	background: #f6f6f6;
	color: #444;
	cursor:pointer;
	border: 1px solid #B9B9B9;
	overflow:hidden;
	text-overflow:ellipsis;
}
.item:hover {
	color: #777
}
.item .forum-name {
	border-bottom: 1px solid #ccc;
	margin: 10px 0;
	display: board;
	padding: 0 0 5px;
	font-size: 17px;
}
@media (max-width: 767px) {
 .item {
 width: 100%;
 height: 120px;
 margin: 0
 }
}
.item .forum-description {
white-space: normal;
word-wrap: break-word;
}
.item .picture img {
	width: 120px;
	height: 120px;
}

.view { padding: 10px; }

.add-board {
	cursor: auto;
	padding: 10px 40px;
	border-bottom: 1px solid #D3D3D3;
}

.new-category {
	padding: 10px 40px;
	border-bottom: 1px solid #D3D3D3;
	min-height: 150px;
}
.new-category button {
	margin-top: 40px;
}

.thread-form { padding: 21px;box-shadow: 0 0px 2px rgba(0,0,0,0.46);margin-bottom: 20px;}
.thread-content { 
	margin: 0px;
	width: 503px;
	height: 66px;
	float: left;
}
.thread-list{padding: 0;}
.thread-item { 
	position: relative;
	padding: 15px 15px 15px 20px;
	border-bottom: #d1d1d1 1px dotted;
}
.hg-bg {display: board;height: 20px;position: relative;}
.thread-item:hover {
background-color: #f3f8f9;
}
.thread-item {
-moz-transition: background-color .2s;
-webkit-transition: background-color .2s;
transition: background-color .2s;
}
.thread-time {color: #aaa;font-size: 13px;}




.about-view {padding: 6px;white-space: normal;word-wrap: break-word;}
.thread-right a {font-size: 15px}
.thread-right a:hover {
    color: #ff7e51;
}


.thread-container {
	padding: 20px 20px 5px 20px;
	background-color: #fff;
	border-top: 1px dashed #d7d7d7;
	margin-bottom: 35px;
}
.thread-container .thread-feed .user-avatar {
	width: 64px;
	height: 64px;
	float: left;
}
.thread-container .thread-feed .thread-detail {
	margin-left: 70px;
}
@media (max-width: 768px) {
	.thread-container .thread-feed .thread-detail {
		margin-left: 0;
	}
}
.thread-container .thread-feed .thread-detail .thread-main {
	word-break: break-all;
}
.thread-container .thread-feed .thread-detail .thread-main img{
	max-width: 100%
}
.thread-container .thread-feed .thread-detail .media-title {
	word-break: break-all;
}
.leave-post {
padding:15px 20px 20px 20px;
background: #f7f8f9;
border-top: 1px solid #D9E0E6;
border-bottom: 1px solid #D9E0E6;
color: #646668;
}

.thread-view {
	border-bottom: 1px solid #D9E0E6;
}
#thread-wrap .thread-main {
	padding: 0 20px 20px 20px;
	word-break: break-all;
}
.thread-view .thread-meta {
	color: #656B6E;
	border-bottom: 1px solid #D9E0E6;
	margin: 0;
	padding: 13px;
}

.thread-view .col-sm-10 {
	border-left: 1px solid #ccc;
}

.thread-view .author img {
	width: 120px;
	height: 120px;
}

#thread-wrap .thread-head {
	border-top: 1px solid #D9E0E6;
	padding: 10px 10px 0 10px;
	color: #aaa;
}
#thread-wrap .thread-main .content {
	line-height: 24px;
	white-space:normal;
	word-break:break-all;
	overflow:hidden;
	min-height: 77px;
}
#thread-wrap .thread-main .content img{
	max-width: 100%;
}
#post-form, #post-view {
	border-top: 1px solid #D9E0E6;
}
#post-form form {
	margin-top: 14px;
	margin-right: 11px;
}
#post-view .post-main {
padding: 20px;
line-height: 24px;
white-space: normal;
word-break: break-all;
overflow: hidden;
min-height: 77px;
}

.floor-number {
	position: absolute;
	right: 5%;
	font-size: 22px;
	color: #999;
}
.post-time {color: #bebdbd;font-size: 12px;}

.thread-nickname {color: #a7a7a7;word-wrap: normal;font-weight: bold;font-size: 14px;}
.no-threads-found {
color: #829bb3;
text-align: center;
padding: 61px 20px;
background: #fff;
font-size: 34px;
font-weight: bold;
box-shadow: 0 2px 5px rgba(0,0,0,0.46);
word-wrap: break-word;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.landlord-name {
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
.widget-containera {
background-color: #fff
}

.tbox{
margin-bottom: 10px;  background: white;  overflow: hidden; 
}
.tbox .category,.tbox .category h2{height:48px;line-height:45px;}
.tbox .category {
border-bottom: 1px solid #DDD;
margin: 0 10px;
padding: 0 10px;
}

.tbox .category h2 {
font-size: 16px;
text-indent: 3px;
font-family: "Microsoft Yahei";	
color: #333;
margin: 0px;padding: 0px;
}
.tbox .category h2 a{
	color: #316301;
}
.tbox .category h2 a:hover{
	color: #596F37; text-decoration: none;
}
.tbox .category span.more{
float: right; position: relative; line-height: 45px;color: #596F37;
}
.tbox .category span.more a{
	color: #596F37; text-decoration: none;
}
.tbox .category span.more a:hover{
	color: #ff3333; text-decoration: underline;
}
.boardinfo:hover {
	background-color: #f3f8f9;
}
.boardinfo {
	cursor:pointer;
	-moz-transition: background-color .2s;
	-webkit-transition: background-color .2s;
	transition: background-color .2s;
}
.tbox .board {
	cursor:pointer;
	margin: 10px;
	padding-bottom: 3px;
}
.tbox .board a {
	font-weight: bold;
}
.tbox .board h2 {
	margin-top: 15px;
}
.tbox .board h2 div {
	width:220px;
	font-size: 14px;
}
.tbox .bd{	
    padding: 10px 15px; _height:1%;overflow: hidden;
}
.tbox .bd li {
margin-left: 0px; line-height: 24px;
}

.tbox .bd li .time{
float:right;
}
.tbox .ft { padding: 0px 15px;height: 1px;overflow: hidden; }



.tbox .txt li {
margin-left: 10px; line-height: 24px;
}
.tbox .pic li {
display: inline;
float: left;
margin:5px 0px 8px 10px;
text-align:center;
}

.tbox .pic li a {
display: block;
}
.tbox .pic li img {
padding-bottom: 3px;
}

.tbox .txtpic li {
display: inline;
float: left;
margin:5px 0px 8px 14px;
text-align:center;
}

.tbox .txtpic li a {
display: block;
}
.tbox .txtpic li img {
width:150px;
height:120px;
padding-bottom: 3px;
}

.tbox .pictxt li {
overflow: hidden;
white-space: nowrap;
line-height: 24px;
margin-left:10px;
margin-bottom:8px;
}
.tbox .pictxt h4 {
overflow: hidden;
font-family: "normal";
white-space: nowrap;
overflow: hidden;
}
.tbox .pictxt a {
}
.tbox .pictxt img {
float: left;
border: #CCC 1px solid;
}
.tbox .pictxt p {
width: 135px;
float: left;
margin-left:5px;
overflow: hidden;
line-height: 20px;
font-weight: normal;
white-space: normal;
}
.boardinfo dl{margin-left: 31px;padding-left: 10px;word-break: break-all;}
