.board:before, .board:after{
    display: table;
    content: " ";
}
.board:after {
    clear: both;
}
.board-avatar, .board-title, .board-last-thread, .board-thread {
    float: left;
    position: relative;
    min-height: 1px;
    padding-bottom: 7px
}
.board-avatar {
    width: 64px;
}
.board-title {
    width: 61%;
}
.board-last-thread {
    width: 20%;
}
.board-last-thread-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 12px;
    font-size: 17px;
    color: #999;
}
.board-last-thread-time {
    margin: 0;
    font-size: 17px;
    color: #999;
}
.board-name {
    font-weight:bold; 
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.board-span {
    position: relative;
    top: 4px;
    font-size: 34px;
    color: #f60;
}
@media (max-width: 767px) {
    .board-title {
        width: 100%;
    }
    .board-span {position: relative; top: 0;font-size: 20px}
}

/* admin */
.board-edit-button {
    float: right;
}
.board-button {
    width: 54px;
    float: left;
}
.board-thread {
    display: none;
}
@media (max-width: 767px) {
    .admin-board .cell .board-title {
        width: 65%;
    }
    .board-button {
        width: 35%;
    }
    .board-edit-button .pull-left .edit-font{font-size: 14px}
}