html, body {
  padding-top: 0;
  color: #777777;
  background: #f9f9f9;
  height: auto;
  font: 14px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(50, 50, 50, 0.3);
}
::-webkit-scrollbar-track {
  background-color: rgba(50, 50, 50, 0.2);
}
ul {
  padding: 0;
}
hr {
  border-top-color: #eee;
  border-bottom-color: #fff;
}
a {
  color: #007aff;
}
a:hover,
a:focus {
  color: #666666;
  text-decoration: none;
}
p {
  line-height: 28px;
}
.popover-user {
  width: 244px;
  height: 86px;
}
#scroll-to-top {
  position: fixed;
  cursor: pointer;
  bottom: -1000px;
  right: 8%;
  color: #fff;
  z-index: 1049;
  border-radius: 50em;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
  padding: 10px 14px;
  background: #5677fc;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
#scroll-to-top:hover,
#scroll-to-top:focus {
  text-decoration: none;
  background: #4e6cef;
  color: #fff;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.tag-group-item {
  display: inline-block;
  background-color: #DDD;
  margin-right: 3px;
  margin-bottom: 5px;
  padding: 5px 7px;
  border-radius: 2px;
  color: #555;
  font-size: 12px;
  text-decoration: none;
  white-space: nowrap;
  transition-timing-function: ease;
  transition-duration: 0.2s;
  transition-property: background-color;
}