.popover-user {
  width: 244px;
  height: 86px;
}
#scroll-to-top {
  position: fixed;
  cursor: pointer;
  bottom: -1000px;
  right: 8%;
  color: #fff;
  z-index: 1049;
  border-radius: 50em;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
  padding: 10px 14px;
  background: #FF7B4C;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
#scroll-to-top:hover,
#scroll-to-top:focus {
  text-decoration: none;
  background: #f75733;
  color: #fff;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
