.header {
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
	box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
}
.navbar-color {
background-color: #ff6f3d;
border-color: #e7e7e7;
}
.navbar-color .navbar-toggle:hover, .navbar-color .navbar-toggle:focus {
background-color: #ddd;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
background-color: #ED5F30;
border-color: #337ab7;
}
.navbar-color .navbar-toggle {
border-color: #ddd;
}
.navbar-color .navbar-nav>li>a {
font-weight: 500;
color: #fff;
}
.navbar-nav > li > a {
padding-top: 15px;
padding-bottom: 15px;
display: block;
color: #fff;
font-size: 16px;
font-weight: bold; 
}
.navbar-nav > li > a:hover {
    background: #ED5F30;
    color: #fff;
}



.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
color: #fff;
background-color: #ff6600;
}

.nav-stacked > li > a {
font-weight: bold;
}







/* section*/
.mod-ent-wraper {
width: 720px;
margin-top: 79px;
}
.mod-ent {
border: 1px solid #D9D9D9;
border-bottom: none;
-webkit-border-radius: 5px 5px 0 0;
-moz-border-radius: 5px 5px 0 0;
-o-border-radius: 5px 5px 0 0;
border-radius: 5px 5px 0 0;
background: #FFF;
position: relative;
z-index: 2;
float: left;
height: 100px;
}
.mod-ent .ent-tip-logo {
float: left;
width: 145px;
padding-left: 5px;
height: 100px;
background-color: #F9F9F9;
}
.mod-ent .ent-tip-logo .ent-user-box {
margin-top: -25px;
position: relative;
float: left;
width: 127px;
height: 114px;
overflow: hidden;
background-position: -5px -165px;
padding-left: 12px;
}
.mod-ent .ent-tip-logo .user-img-link {
display: block;
width: 114px;
height: 114px;
overflow: hidden;
}
.mod-ent .ent-tip-logo .ent-upload-mask {
position: relative;
width: 110px;
height: 22px;
background: #FFF;
opacity: .8;
filter: alpha(opacity=80);
margin: -22px 0 0 2px;
}
.mod-ent .ent-tip-logo .ent-upload-bt {
width: 110px;
height: 22px;
margin: -22px 0 0 2px;
display: block;
position: relative;
color: #3CBCE7;
line-height: 22px;
text-align: center;
}

.mod-ent .ent-list {
float: left;
}
.mod-ent .ent-list .ent-item {
float: left;
}
.mod-ent .ent-list .ent-item .ent-dotted-border {
width: 1px;
overflow: hidden;
height: 100px;
float: left;
font-size: 0;
line-height: 0;
background-position: 0 -175px;
background-repeat: repeat-y;
}
.mod-ent .ent-list .ent-item .ent-icon-wraper {
border-bottom: 2px solid #FFF;
height: 98px;
width: 130px;
/*text-indent: -9999em;*/
background: #FFF;
float: left;
-webkit-transition-duration: .5s;
-webkit-transition-property: all;
-moz-transition-duration: .5s;
-moz-transition-property: all;
-o-transition-duration: .5s;
-o-transition-property: all;
transition-duration: .5s;
transition-property: all;
}
.mod-ent .ent-list .ent-item.text .ent-icon-wraper .ent-icon {
background-position: -100px 0;
}
.mod-ent .ent-list .ent-item .ent-icon-wraper .ent-icon {
margin: 17px 0px 0px -9px;
transition-duration: 0.5s;
transition-property: all;
font-size: 44px;
}
/*end section*/







.post {
	position: relative;
	font-size: 13px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

#posts.posts .post_container {
	margin: 0 0 20px 0;
}

.post_full {
	font-size: 14px;
	background: #fff;
	padding: 15px 20px;
	word-wrap: break-word;
}

.post_avatar {
	display: block;
	width: 64px;
	height: 64px;
	overflow: visible;
	position: absolute;
	left: -85px;
	top: 0;
	background-color: #0a2939;
	text-decoration: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.post_full .post_header {
	font-size: 13px;
	margin: -3px 0 13px;
	color: #a8b1ba;
	line-height: 20px;
	vertical-align: middle;
	overflow: hidden;
}

.post_full .post_content {
	margin: 0 0 10px;
	background: #fff;
	clear: both;
	font-size: 18px;
	color: #414141
}

.post .post_info {
	font-weight: bold;
}

.post_avatar .post_avatar_link,.post_avatar .post_avatar_link img{
	display: block;
	height: 100%;
	width: 100%;
	background: #0a2939 50% 50% no-repeat;
	background-size: cover;
	overflow: visible;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.46);
}

.post .post_header a {
	color: #a8b1ba;
	text-decoration: none;
}

.post_full .post_footer {
	width: 100%;
	border-spacing: 0;
	height: 45px;
	margin: 12px 0 -15px 0;
	border-top: 1px solid #d5d9dd;
	font-weight: bold;
	color: #a8b1ba;
	line-height: 45px;
}

.post_comment_count {
	float: right;
	margin-right: 1px;
	position: relative;
	font-size: 13px;
}

.post_comment_count a {
	text-decoration: none;
}
.time {color: #B6B6B6;font-weight: normal;}
.post_controls {display: table-cell;width: 100%;}
.u_image {width: 64px;height: 64px;}
.no-posts-found {
	color: #829bb3;
	text-align: center;
	padding: 100px 20px;
	background: #fff;
	font-size: 34px;
	font-weight: bold;
	box-shadow: 0 2px 5px rgba(0,0,0,0.46);
	word-wrap: break-word;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.indox-box {
background: #fff;
padding: 15px 20px;
box-shadow: 0 2px 5px rgba(0,0,0,0.46);
word-wrap: break-word;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.callout-info {
border-left-color: #5bc0de !important;
}
.callout {
background-color: #fff;
padding: 20px;
margin-top: 40px;
border: 1px solid #eee;
border-left-width: 5px;
border-radius: 3px;
}
.send-button {
width: 100%;
height: 59px;
font-size: 32px;
font-weight: bold;
}
.dash-name {
	font-weight: bold;
	width: 162px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}

.page_nav {
	width: 233px;
	float: left;
	background: white;
	border-radius: 3px;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.15);
}

.page_nav:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 1px;
	height: 100%;
	background: -webkit-linear-gradient(top,rgba(222,222,222,1),rgba(222,222,222,0.5) 90%,rgba(222,222,222,0) 100%) no-repeat;
	background: -moz-linear-gradient(top,rgba(222,222,222,1),rgba(222,222,222,0.5) 90%,rgba(222,222,222,0) 100%) no-repeat;
	background: linear-gradient(top,rgba(222,222,222,1),rgba(222,222,222,0.5) 90%,rgba(222,222,222,0) 100%) no-repeat;
}

.vertical_tab_set {
box-shadow: 0 2px 5px rgba(0,0,0,0.46);
}

.vertical_tab {
	box-sizing: border-box;
	text-align: left;
	display: block;
	text-align: right;
	text-decoration: none;
	font-weight: bold;
	font-size: 21px;
	color: #7a7a7a;
	padding: 0!important;
	border-bottom: 1px solid #C6C8CB;
}

.vertical_tab a {
	text-decoration: none;
	display: block;
	padding: 15px 20px;
}

.vertical_tab_set .active {
	border-top: 1px solid rgba(0,0,0,.16);
	border-right: 1px solid rgba(0,0,0,0.16);
	border-bottom: 1px solid rgba(0,0,0,.05);
	margin-bottom: -1px;
	position: relative;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(255,255,255,1);
	background: rgba(0,0,0,0.05);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
	-ms-box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
	-o-box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
	box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
	color: #555;
}