
p {
    font-size: 14px;
    line-height: 28px;
}
::-webkit-scrollbar-track-piece {background: #fff;}
::-webkit-scrollbar {width: 12px;height: 12px;}
::-webkit-scrollbar-button {display: none;}
::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece {background: -webkit-gradient(linear,left);}
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:horizontal {border-radius: 6px;background: #bdbdbd;}
::-webkit-scrollbar-thumb:hover {background: #8e8e8e;}
::-webkit-scrollbar-thumb:active {background: #828181;}

a {
color: #f60;
text-decoration:none !important;
}
a:hover {
    color: #ff7e51;
}
ul { list-style-type:none;}

.main{
background: #E2EEFD;
border: 1px solid #D9E0E6;
border-top: none;
-webkit-border-radius: 0 0 3px 3px;
border-radius: 0 0 3px 3px;
padding-bottom: 60px;
}
#nav .active a{ background-position-y: -55px; }
#wrap {
min-height: 100%;
height: auto;
margin: 0 auto -60px;
padding: 0 0 60px;
}
#footer {
height: 60px;
background-color: #f5f5f5;
}
.box {
    background: white;border-radius: 3px; box-shadow: 0px 1px 5px rgba(0,0,0,0.15);
}

.user-navbar-fixed {
    position: fixed;
    background-image: url(/images/user-nav-fixed.png);
}
.infinite_navigation {display: none;}

.media-body {
    white-space:normal; 
    word-break:break-all;
    overflow:hidden;
}