html,
body {
    height: 100%;
    background-color: #eef0f3;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}



/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.no-data-found {
  background-color: rgba(255,255,255,0.05);
  color: #555;
  text-align: center;
  border: 1px solid rgba(0,0,0,0.18);
  border-radius: 6px;
  padding: 100px 20px;
  font-size: 22px;
  font-weight: bold;
}
.no-data-found i {
  display: block;
  height: 100px;
  width: 150px;
  opacity: .46;
  margin: 0 auto 10px auto;
  font-size: 4em;
}

a {
  color: #FF7B4C;
  text-decoration: none;
}
a:hover {
  color: #ff4a00;
  text-decoration: none;
}
.content {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.05),0 1px 2px 0 rgba(0,0,0,0.1);
}
.recommend {
  margin-bottom: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
}
.carousel .item {
  height: 184px;
  width: 100%;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 184px;
}
.carousel-indicators {
  bottom: -30px;
}
.carousel-indicators .active {
    background-color: #CFCFCF;
}
.carousel-indicators li {
  border: 1px solid #C3C3C3;
}
.heading a {
  font-size: 18px;
  font-weight: bold;
  color: #FF7B4C;
  padding-right: 25px;
  background-position: center right;
  right: 0px;
  transition: all 0.5s ease-out;
  text-decoration: none;
}
.e-album-all {
list-style-type: none;
}
.e-album-all .album-item {
    float:left;
    padding: 6px;
    border-width: 0;
    border-bottom-width: 1px\9;
    box-shadow: 0 1px 4px rgba(0,0,0,.15);
    background-color: #fff;
}
.e-album-all .album-info {
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.e-album-all .album-cover {
    width:158px;
    height:158px;
}
.post-list {
  width: 100%;
  border-bottom: 2px dashed #f2f1f1;
  padding: 30px 0px;
  position: relative;
}
.titleimg {
  display: block;
  float: left;
  height: 110px;
  overflow: hidden;
/*  background: url(images/xxx.gif);
  background-size: 180px auto;*/
}
.mecc {

}
.mecc p {
  line-height: 30px;
  margin-top: 6px;
  color: #656565;
  letter-spacing: 0.5px;
}
.mecctitle {
  height: 20px;
  line-height: 18px;
}
.mecctitle h2 {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  padding-right: 25px;
  background-position: center right;
  right: 0px;
  transition: all 0.5s ease-out;
}
.meccaddress {
  color: #a2a2a2;
  margin-top: 12px;
  margin-bottom: 0;
  font-style: normal;
  display: block;
}
article {
  font-family: 'Microsoft YaHei';
}
article .content-text {
  margin-top: 20px;
  font-size: 16px;
  line-height: 28px;
}
article .content-text p {
  margin-bottom: 20px;
  text-indent: 2em;
  color: #353535;
}
.recommend-forum {
  cursor: pointer;
  padding: 7px;
  margin-top: 2px;
  -moz-transition: background-color .2s;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}
.recommend-forum:hover {
  background-color: #f3f8f9;
}
center img {
  max-width: 100%
}
