.header {
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
	box-shadow: 0px 1px 1px rgba(0,0,0,.15), 0px 2px 1px rgba(0,0,0,.10), 0px 3px 1px rgba(0,0,0,.05);
}
.header .navbar-nav > li > a:hover {
background-color: #E7E7E7;
}
.navbar-default .navbar-nav>li>a {
color: #ff6f3d;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
color: #fff;
background-color: #ff6600;
}
.division{
position: fixed;
top: 48px;
box-shadow: 0 2px 1px rgba(0,0,0,0.46);
z-index: 1030;
}
.left-content {
margin-top: 47px;
padding: 0;
}
.right-content {
padding: 5px 0;
position: fixed;
top: 49px;
right: 0;
bottom: 0;
box-shadow: 0 4px 5px rgba(0,0,0,0.46);
min-height: 100% !important;
background-color: #f8f8f8;
z-index: 1040;
overflow-y:auto;
}
@media (min-width: 768px) {
.right-content{
	display: block;
}
}

.main-content{
padding: 29px 43px;
background: #E2EEFD;
-webkit-border-radius: 0 0 3px 3px;
border-radius: 0 0 3px 3px;
}
.main{
padding: 77px 43px;
background: #E2EEFD;
-webkit-border-radius: 0 0 3px 3px;
border-radius: 0 0 3px 3px;
}

#profile-nav {
float: right;
min-width: 120px;
}

.main_column {
padding: 20px;
margin-bottom: 20px;
position: relative;
background: white;
border-radius: 3px;
box-shadow: 0 2px 5px rgba(0,0,0,0.46);
}

.no_forums_found {
	background-color: rgba(255,255,255,0.05);
	color: #534A4A;
	text-align: center;
	border: 1px solid rgba(0,0,0,0.18);
	border-radius: 6px;
	margin: 52px 0 0 15px;
	padding: 100px 20px;
	font-size: 22px;
	font-weight: bold;
}

.tab_selected {
	float: left;
}

.tab_selected a {
	width: 295px;
	float: left;
	position: relative;
	margin-bottom: -1px;
	font-weight: bold;
	color: #414040;
	border-bottom: 1px solid rgba(0,0,0,0);
	z-index: 2;
	padding: 18px 0;
	text-decoration: none;
	text-align: center;
	border-left: 1px solid #cac9ca;
	border-right: 1px solid #cac9ca;
	background-color: #e6e6e6;
}

.post {
	position: relative;
	font-size: 13px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

#posts.posts .post_container {
	margin: 0 0 20px 0;
}

.post_full {
	font-size: 14px;
	background: #fff;
	padding: 15px 20px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.46);
	word-wrap: break-word;
}

.post_avatar {
	display: block;
	width: 64px;
	height: 64px;
	overflow: visible;
	position: absolute;
	left: -85px;
	top: 0;
	background-color: #0a2939;
	text-decoration: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.post_full .post_header {
	font-size: 13px;
	margin: -3px 0 13px;
	color: #a8b1ba;
	line-height: 20px;
	vertical-align: middle;
	overflow: hidden;
}

.post_full .post_content {
	margin: 0 0 10px;
	background: #fff;
	clear: both;
	font-size: 18px;
	color: #414141
}

.post .post_info {
	font-weight: bold;
}

.post_avatar .post_avatar_link,.post_avatar .post_avatar_link img{
	display: block;
	height: 100%;
	width: 100%;
	background: #0a2939 50% 50% no-repeat;
	background-size: cover;
	overflow: visible;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.46);
}

.post .post_header a {
	color: #a8b1ba;
	text-decoration: none;
}

.post_full .post_footer {
	width: 100%;
	border-spacing: 0;
	height: 45px;
	margin: 12px 0 -15px 0;
	border-top: 1px solid #d5d9dd;
	font-weight: bold;
	color: #a8b1ba;
	line-height: 45px;
}

.post_comment_count {
	float: right;
	margin-right: 1px;
	position: relative;
	font-size: 13px;
}

.post_comment_count a {
	color: #a8b1ba;
	text-decoration: none;
}
.time {color: #B6B6B6;font-weight: normal;}
.post_controls {display: table-cell;width: 100%;}
.u_image {width: 64px;height: 64px;}
.no-posts-found {
	color: #829bb3;
	text-align: center;
	padding: 100px 20px;
	background: #fff;
	font-size: 34px;
	font-weight: bold;
	box-shadow: 0 2px 5px rgba(0,0,0,0.46);
	word-wrap: break-word;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.indox-box {
background: #fff;
padding: 15px 20px;
box-shadow: 0 2px 5px rgba(0,0,0,0.46);
word-wrap: break-word;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.callout-info {
border-left-color: #5bc0de !important;
}
.callout {
background-color: #fff;
padding: 20px;
margin-top: 40px;
border: 1px solid #eee;
border-left-width: 5px;
border-radius: 3px;
}
.send-button {
width: 100%;
height: 59px;
font-size: 32px;
font-weight: bold;
}
.dash-name {
	font-weight: bold;
	width: 162px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}

.page_nav {
	width: 233px;
	float: left;
	background: white;
	border-radius: 3px;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.15);
}

.page_nav:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 1px;
	height: 100%;
	background: -webkit-linear-gradient(top,rgba(222,222,222,1),rgba(222,222,222,0.5) 90%,rgba(222,222,222,0) 100%) no-repeat;
	background: -moz-linear-gradient(top,rgba(222,222,222,1),rgba(222,222,222,0.5) 90%,rgba(222,222,222,0) 100%) no-repeat;
	background: linear-gradient(top,rgba(222,222,222,1),rgba(222,222,222,0.5) 90%,rgba(222,222,222,0) 100%) no-repeat;
}

.vertical_tab_set {
box-shadow: 0 2px 5px rgba(0,0,0,0.46);
}

.vertical_tab {
	box-sizing: border-box;
	text-align: left;
	display: block;
	text-align: right;
	text-decoration: none;
	font-weight: bold;
	font-size: 21px;
	color: #7a7a7a;
	padding: 0!important;
	border-bottom: 1px solid #C6C8CB;
}

.vertical_tab a {
	text-decoration: none;
	display: block;
	padding: 15px 20px;
}

.vertical_tab_set .active {
	border-top: 1px solid rgba(0,0,0,.16);
	border-right: 1px solid rgba(0,0,0,0.16);
	border-bottom: 1px solid rgba(0,0,0,.05);
	margin-bottom: -1px;
	position: relative;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(255,255,255,1);
	background: rgba(0,0,0,0.05);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
	-ms-box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
	-o-box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
	box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
	color: #555;
}