/*
 * Globals
 */
html, body {
  height: 100%;
}

body {
  font-family: 'Microsoft Yahei', 'Simsun',Helvetica,Arial,sans-serif !important;
  background-color: #eee !important;
  color: #555;
  line-height: 21px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}
ul {
  list-style-type:none;
  padding: 0;
}
a {
  color: #f60;
  text-decoration:none !important;
}

a:hover {
  color: #ff7e51;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px !important;
  }
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 10px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/*
 * No posts found styles
 */
.no-data-found {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1), 0px 0px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px 2px 2px 2px;
  color: #555;
  text-align: center;
  padding: 100px 20px;
  font-size: 22px;
  font-weight: bold;
}
.no-data-found i {
  display: block;
  height: 100px;
  width: 150px;
  opacity: .46;
  margin: 0 auto 10px auto;
  font-size: 4em;
}

/*
 * Masthead for nav
 */

.home-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

.btn-panel {
  position: fixed;
  z-index: 100;
  right: 5px;
  top: 5px;
  margin: 0;
  padding: 0;
  opacity: 0.55;
}

.btn-panel a {
  padding: 4px 11px;
}

.post-view .post-content {
  font-size: 17px;
  line-height: 28px;
  color: #333;
}

/*
 * Blog posts
 */

.home-post {
  margin-bottom: 60px;
}
.post-item {
  width: 100%;
  margin-bottom: 10px;
  padding: 20px;
  box-shadow: 0 2px 1px rgba(0,0,0,0.1), 0 0 1px rgba(0,0,0,0.1);
  border-radius: 2px;
  background-color: #fff;
  white-space: normal;
  word-break: break-all;
}
.post-item .post-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  font-family: "Microsoft YaHei","SimHei ";
  line-height: 40px;
}
.post-item .post-info {
  font-size: 12px;
  color: #95A5A6;
}
.post-item .post-content {
  margin-bottom: 10px;
}

/*
 * Post view
 */
.post-view {
  white-space: normal;
  word-break: break-all;
  padding: 30px;
  box-shadow: 0 2px 1px rgba(0,0,0,0.1), 0 0 1px rgba(0,0,0,0.1);
  border-radius: 2px;
  background-color: #fff;
}

.post-view .post-title {
  margin: 10px 0;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  font-family: "Microsoft YaHei","SimHei ";
}

.post-view .post-meta {
  height: 24px;
  background: #f3f3f3;
  color: #999;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
}

.post-content img {
  max-width: 100%
}

/*
 * Footer
 */

.home-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.home-footer p:last-child {
  margin-bottom: 0;
}



.profile-name {
    margin: 0;
    margin-bottom: 10px;
    color: #333;
}

.profile-location,
.profile-position {
    font-size: 13px;
    margin-bottom: 3px;
}

.profile-location .fa,
.profile-position .fa {
    width: 16px;
    margin-right: 8px;
    text-align: center;
}

.profile-header {
    margin-bottom: 30px;
}

.profile-header .btn .fa {
    margin-right: 7px;
}

.profile-social-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.profile-social-list li {
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
}

.profile-social-list li:first-child {
    padding-top: 0;
}

.profile-social-list li .fa {
    margin-right: 10px;
    width: 16px;
}

.follower-list {
    padding: 10px;
}

.follower-list .media {
    border-bottom: 1px solid #eee;
}

.follower-list .btn .fa {
    margin-right: 5px;
}

.follower-list .media-object {
    margin-right: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.follower-name {
    color: #333;
    margin: 0;
    font-size: 18px;
    margin-bottom: 5px;
}

.events {
    padding: 10px;
}

.events .subtitle {
    margin-bottom: 20px;
}

.events .media-object {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.events-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.events-list .event-body {
    font-size: 13px;
}

.event-body small {
    display: block;
}

.event-body small .fa {
    margin-right: 5px;
    width: 14px;
    text-align: center;
}

.event-body p {
    margin-top: 10px;
}

.event-title {
    margin: 0;
    margin-bottom: 5px;
    font-size: 16px;
    font-family: 'LatoBold';
    line-height: normal;
}

.events-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.blog-item {
    background: #fcfcfc;
    margin-bottom: 20px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
    -webkit-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
    box-shadow: 0 3px 0 rgba(12,12,12,0.03);
    position: relative;
}

.blog-img img {
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.blog-details {
    padding: 15px;
}

.blog-title {
    font-family: 'LatoBold';
    margin: 0;
    font-weight: normal;
}

.blog-title a {
    color: #333;
}

.blog-meta {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.blog-meta::after {
    clear: both;
    display: block;
    content: '';
}

.blog-meta li {
    float: left;
    padding: 0 5px;
    border-right: 1px solid #ddd;
    line-height: normal;
    font-size: 11px;
    margin-bottom: 5px;
}

.blog-meta li:first-child {
    padding-left: 0;
}

.blog-meta li:last-child {
    padding-right: 0;
    border-right: 0;
}

.blog-summary {
    font-size: 13px;
}

.blog-summary p {
    margin: 10px 0;
}

.blog-summary .btn {
    margin-top: 10px;
}

.blog-quote .quote {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
}

.blog-quote .quote a {
    padding: 15px;
    background: #1d2939;
    color: #dadfe6;
    display: block;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
}

.blog-quote .quote a:hover {
    text-decoration: none;
    background: #2c394c;
}

.blog-quote .quote-author {
    display: block;
    font-family: 'LatoRegular';
    opacity: 0.5;
}

.blog-quote .blog-meta {
    margin-top: 3px;
}

.blog-video {
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    height: 0;
    padding-top: 30px;
    padding-bottom: 56.25%;
    position: relative;
}

.blog-video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0;
    top: 0;
    left: 0;
}

.blog-quote .quote-primary a {
    background-color: #428BCA;
}

.blog-quote .quote-primary a:hover {
    background-color: #357EBD;
}

.blog-quote .quote-success a {
    background-color: #1CAF9A;
    color: #fff;
}

.blog-quote .quote-success a:hover {
    background-color: #17A08C;
}

.blog-quote .quote-danger a {
    background-color: #D9534F;
    color: #fff;
}

.blog-quote .quote-danger a:hover {
    background-color: #D43F3A;
}



/***** 10.5 BLOG SINGLE *****/


.panel-blog .blog-img img {
    width: 100%;  
}

.blogsingle-title {
    font-family: 'LatoRegular';
    color: #333;
    margin: 0;
}

.blog-content {
    max-width: 975px;
}

.authorpanel {
    margin: 20px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}

.authorpanel::after {
    clear: both;
    display: block;
    content: '';
}

.authorpanel .media {
    padding: 0;
}

.authorpanel .media-object {
    margin-right: 15px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.authorpanel p {
    margin-bottom: 0;
    font-size: 13px;
}

.blog-sidebar {
    font-size: 13px;
    padding-left: 5px;
    margin-top: 5px;
}

.sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-list li {
    display: block;
    border-bottom: 1px solid #ddd;
}

.sidebar-list li a {
    padding: 7px 0;
    display: block;
}

.sidebar-list li i {
    display: inline-block;
    margin-right: 5px;
}

.comment-list .media {
    border-bottom: 1px solid #ddd;
}

.comment-list .media-object {
    width: 60px;
    margin-right: 10px;
}

.comment-list h4 {
    margin: 0;
    color: #333;
    font-size: 16px;
}

.comment-list .media-body {
    font-size: 13px;
    position: relative;
}

.comment-list .reply {
    padding: 3px 8px;
    line-height: normal;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.comment-list .media-body p:last-child {
    margin-bottom: 0;
}

.comment-list .media-body .media:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}

.nav-tabs {
  background: #d8dbde;
  border: 0;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

.tab-content {
  background: #fcfcfc;
  padding: 15px;
  -moz-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
  -webkit-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
  box-shadow: 0 3px 0 rgba(12,12,12,0.03);
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

.mb20 {
  margin-bottom: 20px;
}
